<h1>About</h1>
<h3>Pinboard</h3>
<section>
<% for entry in Pinboard.all(:limit => 10, :order => "pubat desc") %>
  <article>
		<h4><%= link_to h(entry.title), entry.url %></h4>
		<p><%= entry.pubat %></p>
		<p><%= entry.summary %></p>
	</article>
<% end %>
</section>
