<header id="page-header">
	<h1 class="main-heading">About Me</h1>	
</header>
<section id="about-me" class="clearfix">
	<section class="column-list">
		<header>
			<h2>Biography</h2>
		</header>	
		  <article>			
				<p>Some text here about me</p>
			</article>
	</section>
	<section class="column-list">
		<header>
			<h2>Experience</h2>
		</header>	
		  <article>			
				<p>Some text here about my experience</p>
			</article>
	</section>
	<section class="column-list">
		<header>
			<h2>Skills</h2>
		</header>	
		  <article>			
				<p>Some text here about my skills</p>
			</article>
	</section>
</section>