<header id="page-header" class="projects">
	<h1 class="main-heading">Edit Project</h1>
</header>

<%= render 'form' %>

<footer class="nav-buttons">
	<%= link_to 'Show', @project %> | <%= link_to 'Back', projects_path %>
</footer>
