$standard_margin: 37px;
$lightest_grey: #dddddd;
$dark_grey: #2d2d2d;
$mid_grey: #444444;
$light_grey: #AAAAAA;
$maximum_width: 1225px;

@mixin blacklink {
	a {
		color: black;
		font-family: 'ProximaNova-Semibold', serif;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

@mixin grid-overlay {
	background-image:url("global/grid-overlay.png");
	background-repeat: repeat-y;
	background-position: top center;
}

body {
	font-family: 'ProximaNova-Regular', serif;
	background-color: $lightest_grey;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'ProximaNova-Light', serif;
}

div#content-wrapper {
	/*@include grid-overlay;*/		
	margin: 0 auto;
	max-width: $maximum_width;
	background-color: #ededed;
}

div#header-wrapper {
	position:fixed;
	z-index: 1000;
	display:block;
	width: 100%;
	background-color: $mid_grey;
}

header#main-header {
	/*@include grid-overlay;*/
	max-width: $maximum_width;
	margin: 0 auto;
	background-color: $dark_grey;
	#login {
		float:left;
		display: block;
		margin: 25px 0 0 $standard_margin;
		p {
			margin: 0;
			padding: 0;
			font: 18px 'ProximaNova-Semibold', serif;
			text-transform: uppercase;
			text-shadow: #000000 0px 1px 1px;
			color: #ffffff;
			
			a {
				text-shadow: #464646 0px 1px 1px;
				text-decoration: none;
				color: #151515;
			}
		}
	}
}

nav#main-nav {
	float:right;
	ul {
		margin-top: 25px;
		margin-right: $standard_margin;
		li {
			padding-bottom: 22px;
			display: block;
			float: left;
			font: 18px 'ProximaNova-Regular', serif;
			text-transform: uppercase;
			text-shadow: #000000 0px 1px 1px;
			color: #ffffff;
			a {
				text-decoration: none;
				color: #bbbbbb;
				&:hover {
					color: white;
				}
			}
		}
		li.current {
			background-image:url("global/arrow-light-grey.png");
			background-repeat: no-repeat;
			background-position: bottom center;
		}
		li#about {
			margin-right: 18px;
		}
		li#projects {
			margin-right: 56px;
		}
		li#projects.current {
			background-image:url("global/arrow-mid-grey.png");
		}
		li#home {
			margin-right: 62px;
		}
	}
}

header#sub-header {
	/*@include grid-overlay;*/
	max-width: 1225px;
	margin: 0 auto;
	padding: 0;
	background-color: $light_grey;
	ul {
		margin: 0;
		float: right;	
		li {
			float: left;
			margin-right: $standard_margin;
			font-family: 'ProximaNova-Regular', serif;
			font-size: 14px;
			padding: 12px 0;
			text-shadow: $mid_grey 0px 1px 1px;
			a {
				color: white;
				text-decoration: none;
				&:hover {
					color: white;
					text-shadow: black 0px 1px 1px;
				}
			}
			&.current {
				color: $dark_grey;
				text-shadow: $lightest_grey 0px 1px 1px;
				background-image:url("global/small-arrow-light-grey.png");
				background-repeat: no-repeat;
				background-position: bottom center;
			}
		}
	}
}

header#page-header {
	padding: 140px 0 60px $standard_margin;
}

header#page-header.projects {
	padding: 185px 0 60px $standard_margin;
}

h1.main-heading{
	font-family: 'ProximaNova-Semibold', serif;
	text-transform: uppercase;
}

h2.main-heading {
	padding: 60px 0 60px $standard_margin;
	font-family: 'ProximaNova-Semibold', serif;
	text-transform: uppercase;
}

strong {
	font-family: 'ProximaNova-Bold', serif;
	font-weight: normal;
}

footer#global {
	border-top: 1px solid $lightest_grey;
	padding: $standard_margin 0;
	margin: $standard_margin $standard_margin 0 $standard_margin;
	h6 {
		@include blacklink;
	}
}

section.column-list {
	float: left;
	margin-left: 3.020408163265306%; /* $standard height / 1225 */
	width: 29.306122448979592%; /* 359 / 1225 */
}

div.portfolio-form {
	padding-left: $standard-margin;
	input, textarea {
		margin-bottom: $standard-margin;
	}
	label {
		font-family: 'ProximaNova-Semibold', serif;
		font-size: 20px;
	}
}

a.view-project {
	@include border-radius(5px);
	background-color: $light_grey;
	font-family: 'ProximaNova-Regular', serif;
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px 15px;
	text-shadow: $mid_grey 0px 1px 1px;
	&:hover {
	background-color: $mid_grey;
	text-shadow: black 0px 1px 1px;	
	}
}

.nav-buttons {
	padding-top: 20px;
	font-size: 18px;
}

a.title-link {
	font-family: 'ProximaNova-Light', serif;
	color: $light_grey;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}