// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#herobox {
	padding-bottom: $standard_margin;
}

#about-me-intro {
	float: right;
	width: 64.653061224489796%;	
	.intro {
		padding: $standard_margin;
		font-family: 'ProximaNova-Light', serif;
		@include border-radius(20px 0 0 20px);
		background: rgba(255,255,255,0.7);
		p {
			font-size: 36px;
			color: black;
		}
	}
	.description {
		display: none;
	}
	.teaser {
		float: left;
		width: 45.328282828282828%;
		h2.main-heading {
			font-family: 'ProximaNova-Light', serif;
			margin-top: $standard_margin;
			padding: 0;
		}
		p {
			padding: 20px 0;
		}
	}
	#work-history {
		padding-left: $standard_margin;
	}
}

#example-projects {
	position: relative;
	float: left;
	width: 32.3265306122449%;
	img#web-tint {
		z-index: 10;
		position:absolute;
		top: 0;
		right: 0;
		width: 100%;
		margin: 0;
	}
	img#web-top, img#web-bottom {
		display: block;
		margin-bottom: 0;
		max-width: 100%;
	}
	#slide-frame {
		background-color: black;
	}
	.flexslider {
		width: 91.414141414141414%;
	}
}

#social-links {
	clear: left;
}

section#social-links {
	.main-heading {
		padding-top: 0;
	}
	header {
		padding-bottom: 10px;
		border-bottom: 1px solid $lightest_grey;
		margin-bottom: 20px;
		padding-left: 66px;
		background-repeat: no-repeat;
		background-position: middle left;
		h2 {
			text-transform: uppercase;
			padding-top: 3px;
		}
	}
	@include blacklink;
	h6 {
		color: $light_grey;
	}
	p {
		margin-bottom: 5px;
	}
	img {
		float: left;
		padding-right: 20px;
	}
	article {
		padding-bottom: 15px;
	}
}

section#lastfm {
	header {
	background-image:url("icons/lastfm-icon.png");
	}
	.content {
		overflow: hidden;
	}
}

section#goodread {
	padding-bottom: 20px;
	header {
		background-image:url("icons/goodread-icon.png");
	}
	.content {
		overflow: hidden;
	}
}

section#twitter {
	padding-bottom: 20px;
	header {
		background-image:url("icons/twitter-icon.png");
	}
}

section#foursquare {
	padding-bottom: 20px;
	header {
		background-image:url("icons/foursquare-icon.png");
	}
}

section#pinboard header {
	background-image:url("icons/pinboard-icon.png");
}

section#instapaper header {
	background-image:url("icons/instapaper-icon.png");
}