// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-me-intro {
	float: right;
	width: 755px + $standard_margin;
	
	.intro {
		padding: $standard_margin;
		font-family: 'ProximaNova-Light', serif;
		@include border-radius(20px 0 0 20px);
		background: rgba(255,255,255,0.7);
		p {
			font-size: 36px;
			color: black;
		}
	}
	.description {
		display: none;
	}
	.teaser {
		float: left;
		width: 359px;
		h2.main-heading {
			font-family: 'ProximaNova-Light', serif;
			margin-top: $standard_margin;
			padding: 0;
		}
		p {
			padding: 20px 0;
		}
	}
	#work-history {
		padding-left: $standard_margin;
	}
}

#example-projects {
	position: relative;
	padding-top:32px;
	float: left;
	width: 396px;
	#web-tint {
		z-index: 10;
		position:absolute;
		top: 0;
		right: 0;
	}
}

#social-links {
	padding-top: 120px;
	clear: left;
}

section#social-links {
	header {
		padding-bottom: 10px;
		border-bottom: 1px solid $lightest_grey;
		margin-bottom: 20px;
		h2 {
			text-transform: uppercase;
			padding-top: 3px;
		}
	}
	@include blacklink;
	h6 {
		color: $light_grey;
	}
	p {
		margin-bottom: 5px;
	}
	img {
		float: left;
		padding-right: 20px;
	}
}

section#social-links article {
	padding-bottom: 15px;
}

section#social-links header {
	padding-left: 66px;
	background-repeat: no-repeat;
	background-position: middle left;
}

section#lastfm {
	header {
	background-image:url("lastfm-icon.png");
	}
	.content {
		overflow: hidden;
	}
}

section#twitter {
	padding-bottom: 20px;
	header {
		background-image:url("twitter-icon.png");
	}
}

section#foursquare {
	padding-bottom: 20px;
	header {
		background-image:url("foursquare-icon.png");
	}
}

section#pinboard header {
	background-image:url("pinboard-icon.png");
}

section#instapaper header {
	background-image:url("instapaper-icon.png");
}

section#goodread {
	padding-bottom: 20px;
	header {
		background-image:url("goodread-icon.png");
	}
	.content {
		overflow: hidden;
	}
}