// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#social-links header {
	padding-bottom: 10px;
	border-bottom: 1px solid $lightest_grey;
	margin-bottom: 20px;
	h2 {
		text-transform: uppercase;
	}
}

section#pinboard, section#instapaper {
	float: left;
	margin-left: $standard_margin;
	width: 359px;
}

section#instapaper article {
	padding-bottom: 15px;
}