@media screen and (max-width: 1150px) {	
	#about-me-intro .intro p {
		font-size: 1.75em; /* 28px / 16px */
	}
}

@media screen and (max-width: 750px) {
	header#page-header{
		padding-top: 100px;
		padding-bottom: 20px;
	}	
	#about-me-intro {
		float:none;
		width: 93.959183673469388%;
		padding: 0 3.020408163265306%;
		.intro {
			@include border-radius(20px);
		}
	}
	#example-projects {
		display: none;
	}
	h2.main-heading {
		padding: 20px 0 20px 3.020408163265306% !important;
	}
	
}

@media screen and (max-width: 870px) {
	section#social-links {
		padding: 0 3.020408163265306%; /* $standard_margin / 1225 */
		column-count: 2;
		moz-coloumn-count: 2;
		-webkit-column-count: 2;

		-moz-column-gap : 3.020408163265306%;
		-webkit-column-gap : 3.020408163265306%;
		column-gap : 3.020408163265306%;
		
		section#instapaper, section#pinboard {
			-webkit-column-break-after: auto;
		}
	}
}