// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#projects article, article#project {
	margin: 0 3.020408163265306%; /* $standard height / 1225 */
	padding: 0 0 $standard_margin 0;
	/*border-top: 1px solid $lightest_grey;*/
	div.images {
			margin-right: 3.132938187976291%; /* 37 / (1255 - 37 x 2) */
			width: 65.595134665508254%; /* 755 / (1255 - 37 x 2) */
			float: left;
			img {
				width: 100%;
			}
			ul {
				list-style: none;
				li {
					margin-bottom: $standard_margin;
				}
			}
		}
	div.details {		
		overflow: hidden;
		padding-bottom: 30px;
		header {
			padding-bottom: 10px;
			border-bottom: 1px solid $lightest_grey;
			margin-bottom: 20px;
			h2 {
				text-transform: uppercase;
			}
		}
		p {			
			color: #545454;
			strong {
				color: $dark_grey;
			}
		}
	}
}

article#project p{
	font-size: 16px;
}

article div.TV {
	padding-bottom: $standard_margin;
}

#project-title {
	font-family: 'ProximaNova-Light', serif;
	color: $light_grey;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}